<%- include('./includes/head.ejs') %>

  <div class="results__wrapper">

    <section class="section results__section">

      <% if (foundItems.length> 0) { %>
        <h4 class="results__title">Wyszukiwania dla słowa kluczowego:&nbsp;<span class="results__title--keyWord">
            <%= searchValue %>
          </span>
        </h4>
        <% foundItems.forEach(item=> { %>

          <div class="results__item">

            <div class="results__item--top">

              <div class="results__item--imgWrapper">
                <div class="results__item--secondImgWrapper">
                  <img class="results__item--img" src="<%= item.itemImgUrl %>?raw=true" alt="<%= item.itemName %>">


                </div>
              </div>
              <div class="results__item--topText">
                <p class="results__item--name results__item--text"><strong>Nazwa:&nbsp;</strong>
                  <%= item.itemName %>
                </p>
                <p class="results__item--type results__item--text"><strong>Typ:&nbsp;</strong>
                  <%= item.itemType %>
                </p>
                <p class="results__item--localization results__item--text"><strong>Lokalizacja:&nbsp;</strong>
                  <%= item.itemLocalization %>
                </p>
                <p class="results__item--tags results__item--text"><strong>Tagi:&nbsp;</strong>
                  <%= item.itemTags %>
                </p>
              </div>

            </div>

            <div class="results__item--bottom">
              <h6 class="results__item--title">Co zrobić z odpadem?</h6>
              <p class="results__item--description">
                <%= item.itemDescription %>
              </p>
            </div>
          </div>

          <% }) %>
            <% } else { %>
              <div class="results__nothing">
                <div class="results__nothing--img"></div>
                <h3 class="results__nothing--title">Niestety, nic nie znalazłem!
                </h3>
                <h3 class="results__nothing--title">Spróbuj użyć innych słów kluczowych.</h3>
              </div>

              <% } %>

    </section>

  </div>

  <%- include('./includes/footer.ejs') %>